<% @section_title = "Create Account" %>
<form action="/auth/create" method="post">
  <p>Username: <input type="text" name="user[username]" /></p>
  <p>Password: <input type="password" name="user[password]" /></p>
  <% if @recapture_key %>
	  <div class="g-recaptcha control text-control" data-sitekey="<%=@recapture_key%>"></div>
  <% end %>
  <input type="submit" value="Create" />
</form>