<span class="rw-account-widget">
	<% if logged_in? %>
		Logged in as <b><a href="<%=url('/auth/', false)%>"><%=current_user.username%></a></b> | 
		<a href="<%=url('/auth/logout', false)%>">Logout</a>
	<% else %>
		<a href="<%=url('/auth/login', false)%>">Login</a>
	<% end %>
</span>