<p>
	<h2>Protected Page Example</h2>
</p>

<p>
	<%= RackWarden::User.repository.to_yaml.gsub(/\n|\r/, '<br>') %>
	<%= DataMapper.repository.adapter.select('select * from SQLITE_MASTER').to_yaml.gsub(/\n|\r/, '<br>') %>
	
</p>