<p>
	<h3>Session info</h3>
</p>

<p>
	<b>Ruby Process:</b><br>
	<%= $0 %>
	<br><br>
	
	<b>Session:</b><br>
	<%= session.to_hash.to_yaml.to_html %>
	<br><br>
	
	<b>Cookies:</b><br>
	<%= env['rack.cookies'].to_yaml.to_html %>
	<br><br>
	
	<b>Ruby ENV:</b><br>
	<%= ENV.to_hash.to_yaml.to_html %>
	<br><br>
	
	<b>Request env object:</b><br>
	<%#= request.env.inspect.to_html %>
	<br><br>		

</p>
<br>