<p>
	<h3>Users</h3>
</p>
<p>
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>User</th>
				<th>Email</th>
				<th>Activated</th>
			</tr>
		<tbody>
			<% RackWarden::User.users.limit(100).each do |user| %>
				<tr>
					<td><%=user.id%></td>
					<td><%=user.username%></td>
					<td><%=user.email%></td>
					<td><%=user.activated_at%></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</p>


<!--
<h3>Users</h3>
<pre><%#= RackWarden::User.all.to_yaml %></pre>
-->